@model ContactsWebUI.Models.UsersDto


@{
    ViewData["Title"] = "Izle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="frm" name="frm" method="post">
    <input hidden id="Id" name="Id" value="@Model.Id" />
    <div class="form-group">
        <label>Ad</label>
        <input type="text" id="Ad" name="Ad" class="form-control" value="@Model.Ad" disabled>
    </div>
    <div class="form-group">
        <label>Soyad</label>
        <input type="text" class="form-control" id="Soyad" name="Soyad" value="@Model.Soyad" disabled>
    </div>
    <div class="form-group">
        <label>Firma</label>
        <input type="text" class="form-control" id="Firma" name="Firma" value="@Model.Firma" disabled>
    </div>
</form>

@section Styles {}

@section Scripts {


    <script>
        $(document).ready(function () {


        });
    </script>

}